@(firstName:String, proposal:models.Proposal)(implicit lang: Lang)

<table cellpadding="0" cellspacing="0" align="left"
       style="width: 600px; margin: 0 auto; padding: 0; border: 0;">
    <tr>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #eb0029; background-color: #eb0029;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ff5000; background-color: #ff5000;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ffb819; background-color: #ffb819;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009944; background-color: #009944;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #144733; background-color: #144733;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009bde; background-color: #009bde;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #004a97; background-color: #004a97;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #44273a; background-color: #44273a;">
            &nbsp;
        </td>
    </tr>
</table>

<a href="#english" style="float:right; font-size:small;">english version below</a>

<h3>Bem-vindo ao @ConferenceDescriptor.current().naming.title</h3>
<p>Olá, @firstName,</p>
<p>Estamos muito contentes em informar que a sua palestra foi <strong>SELECIONADA</strong>:<br/>
    Título: <strong>@proposal.title</strong> <br/>
    Trilha: <strong>@Messages(proposal.track.label)</strong> <br/>
    Formato: <strong>35 minutos</strong>•
</p>
<p>
    <span style="color:red;">IMPORTANTE</span>: <b>Vamos trabalhar apenas com palestras de 35 minutos nas Trilhas,</b>
    por isso pedimos que ajuste seu material e treine dentro deste tempo estipulado, nos ajudando assim a não acontecer atrasos na programação.
</p>

<h3>ATENÇÃO! Ações necessárias</h3>

<h4>1. Aceitar ou recusar</h4>
<p>
    Para palestrar no TDC, você deve estar ciente dos
    <a target="_blank" href="https://thedevconf.com/aceite">termos e condições de participação</a>, da
    <a target="_blank" href="https://thedevconf.com/tdc/2021/privacidade-palestrantes">política de privacidade</a> e do
    <a target="_blank" href="https://thedevconf.com/conduta">código de conduta</a> do evento.
</p>
<p>
    Sua palestra será incluída na grade da Trilha, no site, junto com as demais palestras selecionadas e,
    caso você decline, iremos retirá-la em no máximo 2 dias úteis.
    Por favor, confirme ou recuse sua participação através desse link:
    <a target="_blank" href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()</a>
</p>

<h4>2. Sua minibio e foto</h4>
<p>Para ter as suas informações completas no site do evento, preencha todos os campos, incluindo links e informações relevantes sobre você no seu perfil no Call4Papers. Não esqueça de incluir uma foto sua de alta qualidade.</p>

<h4>3. Cortesia para palestrantes</h4>
<p>
    Como palestrante do @ConferenceDescriptor.current().naming.title você ganha 1 Passport Premium, pacote anual composto por 8 Trilhas, para que assim posssa aproveitar ao máximo até o final do ano.
</p>
<p>
    <b>BÔNUS</b>: você ainda receberá 4 pacotes cortesia para presentear até 4 amigo(a)s com 2 Trilhas (gratuitas) cada.
</p>
<p>
    Ao aceitar palestrar no @ConferenceDescriptor.current().naming.title, você receberá as cortesias através do seu email (não é  automático).
</p>

<h4>4. Comunicação com a Coordenação</h4>
<p>
    A organização irá criar um grupo com todos os coordenadores, palestrantes e painelistas da Trilha - mais próximo ao evento - para que possam se conhecer e interagir.
    O aplicativo utilizado será ao Telegram, por isso pedimos que já baixe o mesmo. A participação não será obrigatória, mas indicamos fortemente para que as informações estejam bem alinhadas entre todos.
</p>

<h4>5. Compartilhe o evento</h4>
<p>Se você usa redes sociais, aproveitamos para te convidar a curtir nossa página no
    <a target="_blank" href="https://facebook.com/TheDevelopersConference">Facebook</a>,
    <a target="_blank" href="https://www.instagram.com/thedevconf/">Instagram</a> e no
    <a target="_blank" href="https://twitter.com/TheDevConf">Twitter</a>.
</p>

<h4>6. Questões sobre sua palestra</h4>
<p>Por favor, não responda este email. <br/>
    Envie qualquer comentário através do web site do CFP e nossa equipe fará o possível para responder rapidamente.<br/>
    <a target="_blank" href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
</p>

<p>Atenciosamente,</p>
<p><em>Equipe @ConferenceDescriptor.current().naming.title</em><br />
    <a target="_blank" href="http://www.thedevelopersconference.com.br" title="@ConferenceDescriptor.current().naming.title">thedevconf.com</a></p>
<br/>


<table cellpadding="0" cellspacing="0" align="left"
       style="width: 600px; margin: 0 auto; padding: 0; border: 0;">
    <tr>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #eb0029; background-color: #eb0029;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ff5000; background-color: #ff5000;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ffb819; background-color: #ffb819;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009944; background-color: #009944;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #144733; background-color: #144733;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009bde; background-color: #009bde;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #004a97; background-color: #004a97;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #44273a; background-color: #44273a;">
            &nbsp;
        </td>
    </tr>

</table>


<p id="english">Hi, @firstName,</p>
<p>We're glad to inform you that your talk has been <strong>SELECTED</strong>:<br/>
    Title: <strong>@proposal.title</strong> <br/>
    Track: <strong>@Messages(proposal.track.label)</strong> <br/>
    Format: <strong>35 minutes</strong>•
</p>
<p style="font-weight:bold;">We will only work with 35-minute talks, without exceptions.</p>

<h3>ATTENTION! Required actions</h3>

<h4>1. Accept or decline</h4>
<p>
    To speak at TDC, you must be aware of the
    <a target="_blank" href="https://thedevconf.com/accept-terms">terms and conditions of participation</a>, the
    <a target="_blank" href="https://thedevconf.com/tdc/2021/privacy-speakers"> privacy policy</a> and the
    <a target="_blank" href="https://thedevconf.com/code-of-conduct">code of conduct</a>.
</p>
<p>
    Your talk will be included in the track program, on the website, together with all the other selected talks and, if you decline, we will remove it within a maximum of 2 days.
    Please, confirm your participation through this link:
    <a target="_blank" href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.ApproveOrRefuse.showAcceptTerms()</a>
</p>

<h4>2. Your bio and picture</h4>
<p>To have your complete information on the event website, fill in all the fields, including links and relevant information
    about you on your Call4Papers profile. Don't forget to include your photo.</p>

<h4>3. Free tickets for Speakers</h4>
<p>
    As a @ConferenceDescriptor.current().naming.title speaker you receive a Passport Premium, an annual package consisting of 8 tracks, so you can enjoy it until the end of the year, and:
</p>
<p>
    <b>BONUS</b>: you also receive a package that allows you to present up to 4 friends with 2 (free) tracks each.
</p>
<p>
    Accepting a talk at @ConferenceDescriptor.current().naming.title, you will receive the courtesy via email. (not automatic)
</p>

<h4>4. Communication with the Committee</h4>
<p>
    The organization will create a group with all the coordinators, speakers and panelists of the Track - closer to the event - so you can meet and interact.
    We will use the Telegram app, that's why  we ask you to download it right now. Participation is not mandatory, but we strongly recommend it.
</p>

<h4>5. Share the event</h4>
<p>If you use social networks, we take the opportunity to invite you to give your like in our page on
    <a target="_blank" href="https://facebook.com/TheDevelopersConference">Facebook</a>,
    <a target="_blank" href="https://www.instagram.com/thedevconf/">Instagram</a> and
    <a target="_blank" href="https://twitter.com/TheDevConf">Twitter</a>.
</p>

<h4>6. Questions regarding your talk</h4>
<p>Please, do not respond to this email. <br/>
    Send any comment through the web interface and our team will do its best to respond quickly:<br/>
    <a target="_blank" href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
</p>

<p>Best regards,</p>
<p><em>The @ConferenceDescriptor.current().naming.title Team</em><br />
    <a target="_blank" href="https://thedevconf.com" title="@ConferenceDescriptor.current().naming.title">thedevconf.com</a></p>
