@(firstName:String, proposal:models.Proposal)(implicit lang: Lang)

<table cellpadding="0" cellspacing="0" align="left"
       style="width: 600px; margin: 0 auto; padding: 0; border: 0;">
    <tr>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #eb0029; background-color: #eb0029;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ff5000; background-color: #ff5000;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ffb819; background-color: #ffb819;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009944; background-color: #009944;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #144733; background-color: #144733;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009bde; background-color: #009bde;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #004a97; background-color: #004a97;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #44273a; background-color: #44273a;">
            &nbsp;
        </td>
    </tr>

</table>

<p>Olá, @firstName,</p>
<p>
    Esperamos que esteja bem :)
</p>
<p>
    Primeiramente quero agradecer pelo tempo que dedicou para submeter sua palestra para o @ConferenceDescriptor.current().naming.title.
</p>
<p>
    Recebemos muitas submissões para a trilha <b>@Messages(proposal.track.label)</b>, mas nem todo o conteúdo pode ser absorvido.
    As pessoas coordenadoras estruturam sempre uma jornada de conteúdo para o público, pautando palestras que estejam conectadas e alinhadas aos objetivos da trilha.
</p>
<p>
    Dessa forma sentimos muito em informar que a sua palestra <b>NÃO FOI SELECIONADA</b>:<br/>
    <b>@proposal.title</b>
</p>
<p>
    <a href="https://www.youtube.com/watch?v=3S7KZV4L_nk&feature=youtu.be">Assista a este vídeo</a>
</p>
<p>
    Não desanime! Nós vamos te avisar por email sobre os próximos Call4Papers do TheDevConf.
    Queremos muito te ver palestrar no TDC numa próxima edição e agradecemos muito sua proposta!
</p>
<p>
    Antes de ir embora, queremos te presentear com um desconto para que possa participar do TDC em 1 Trilha com o valor de fase 1. <br/>
    Escolha a sua Trilha
    <a href="https://inscricoes.globalcode.com.br/novaInscricao/tdc-2021-connections-online">clicando aqui</a> e
    utilize o código promocional até dia 28/05:<br/>
    <b style="color:blue;">22EA057DB0A9BFB8B8D7D3D6AE682D780152660</b>
</p>
<p>Atenciosamente,</p>
<p>Equipe @ConferenceDescriptor.current().naming.title</p>
<br/>

<table cellpadding="0" cellspacing="0" align="left"
       style="width: 600px; margin: 0 auto; padding: 0; border: 0;">
    <tr>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #eb0029; background-color: #eb0029;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ff5000; background-color: #ff5000;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #ffb819; background-color: #ffb819;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009944; background-color: #009944;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #144733; background-color: #144733;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #009bde; background-color: #009bde;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #004a97; background-color: #004a97;">
            &nbsp;
        </td>
        <td valign="top"
            style="width: 12.5%; height: 5px; padding: 0px;
        font-size: 10px; line-height: 10px;
        color: #44273a; background-color: #44273a;">
            &nbsp;
        </td>
    </tr>

</table>

<p>Hi, @firstName,</p>
<p>
    We hope you are well :)
</p>
<p>
    First of all, we would like to thank you for the time you spent submitting your talk for the @ConferenceDescriptor.current().naming.title.
</p>
<p>
    We received many submissions for the track <b>@Messages(proposal.track.label)</b>, but not all content can be absorbed.
    The technical committee always structures a content journey for the audience, giving talks that are connected and aligned with the objectives of the track.
</p>
<p>
    That way we are sorry to inform you that your talk <b>WAS NOT SELECTED</b>:
    <b>@proposal.title</b>
</p>
<p>
    Don't be discouraged! We will let you know via email about the next Call4Papers for TheDevConf.
    We want to see you speak at TDC in an upcoming edition and we appreciate your proposal!
</p>
<a>
    Before leaving, we want to give you a discount so you can participate in 1 Track at TDC with the value ​​of phase 1.<br/>
    Choose your Track by
    <a href="https://inscricoes.globalcode.com.br/novaInscricao/tdc-2021-connections-online">clicking here</a>
    and use the promotional code to register until May 28th:<br/>
    <b style="color:blue;">22EA057DB0A9BFB8B8D7D3D6AE682D780152660</b>
</p>
<p>Best regards,</p>
<p>The @ConferenceDescriptor.current().naming.title team</p>

