@(proposals:Map[String,Map[Option[Proposal],List[String]]])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@import helper._

@main("CFP Talks") {
<div class="row">
    <div class="col-lg-offset-4 col-md-4">
        <h2><i class="icon-thumbs-up-alt"></i> @Messages("reports.title")</h2>
    </div>
    <div class="clearfix"></div>

    @if(flash.get("error").isDefined){
        <div class="alert alert-danger alert-dismissable col-md-12">
            <strong>Error :</strong>
            @flash.get("error").get
        </div>
    }
    @if(flash.get("success").isDefined){
        <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
        </div>
    }

    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>@Messages("reports.uploadedPresentations.title")</h3>
            </div>
            <div class="panel-footer">
                <a href="@routes.CFPAdmin.reportsHome()" class="btn btn-sm btn-primary"><i class="icon-table"></i> @Messages("admin.btn.reports")</a>
            </div>
        </div>
    </div>
    <div class = "col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">

                @if(proposals.nonEmpty){
                <table class="table table-bordered table-stripped">
                    <thead>
                    <tr>
                        <th>@Messages("allUploadedPresentations.columns.talk")</th>
                        <th>@Messages("allUploadedPresentations.columns.links")</th>
                    </tr>
                    </thead>
                    <tbody>

                        @proposals.toList.sortBy(pair=> Messages(s"${pair._1}.label")).map { case (trackId, props) =>
                            <tr>
                                <th colspan="5">@Messages(s"${trackId}.label")</th>
                            </tr>
                            @props.map {case (proposal,links) =>
                            <tr>
                                <td>
                                    @proposal.map(_.title).getOrElse(Messages("allUploadedPresentations.notFound"))
                                </td>
                                <td>
<ul>
                                    @links.map{ link =>
                                      <li>@link</li>
                                    }
</ul>
                                </td>
                            </tr>
                            }
                        }

                    </tbody>
                </table>
                }else{
                    <p>@Messages("allUploadedPresentations.warning.notalk")</p>
                }
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <a href="#top" title="Ir para o topo" class="btn btn-sm btn-warning">
            <i class="icon-angle-up"></i> @Messages("top.page")
        </a>
    </div>

</div>
}