@()(implicit lang: Lang, flash: Flash, req:RequestHeader)

@main("CFP Help") {
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Help - Vídeos explicativos</h3>
                </div>

                <div class="panel-body">

                    <iframe width="560" height="315"  frameborder="0" allowfullscreen
                            src="https://www.youtube.com/embed/FoFNke24-xE?list=PLv3L8f6F-z9L54ExLbUgGsRFWWcF4dqLZ"></iframe>

                    <iframe width="560" height="315"  frameborder="0" allowfullscreen
                            src="https://www.youtube.com/embed/nsJp4F_U8h4?list=PLv3L8f6F-z9L54ExLbUgGsRFWWcF4dqLZ"></iframe>

                    <iframe width="560" height="315"  frameborder="0" allowfullscreen
                            src="https://www.youtube.com/embed/8sZ1Ry5ky98?list=PLv3L8f6F-z9L54ExLbUgGsRFWWcF4dqLZ"></iframe>

                </div>
            </div>

        </div>
    </div>


}
