@(totalSpeakers: Long, totalProposals: Long, totalReviews: Long, totalVotes: Long, totalNoVotes: Long, mostVoted: Option[(String, String)]
    , totalSubmittedByTrack: Map[String, Int], totalAcceptedByTrack: Map[String, Int], totalApprovedSpeakers:Long, totalRefusedSpeakers:Long
    , allApprovedByTrack:Map[String,Int], totalByState:List[(String,Int)])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main(Messages("leaderboard.tab")) {
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="icon-trophy"></i> @Messages("leaderboard.title")</h4>
                    <small><a href="@routes.CFPAdmin.doComputeLeaderBoard()" class="btn btn-sm btn-primary"><i class="icon-compass"></i> @Messages("leaderboard.label.refresh")</a></small>
                </div>

                <div class="panel-body">
                    <div class="col-md-3">
                        <h1>@totalSpeakers</h1>
                        <small><i class="icon-user"></i> @Messages("leaderboard.label.speakers")</small>
                    </div>

                      <div class="col-md-3">
                        <h1>@totalApprovedSpeakers</h1>
                        <small><i class="icon-user"></i> @Messages("leaderboard.label.approved.speakers")</small><br>
                    </div>

                    <div class="col-md-6">
                        <h1>@totalRefusedSpeakers</h1>
                        <small><i class="icon-user"></i> @Messages("leaderboard.label.refused.speakers")</small><br>
                    </div>

                    <div class="col-md-3">
                        <h1>@totalProposals</h1>
                        <small><i class="icon-book"></i> @Messages("leaderboard.label.proposals")</small>
                    </div>

                    <div class="col-md-3">
                        <h1>@totalVotes</h1>
                        <small><i class="icon-eye-open"></i> @Messages("leaderboard.label.proposals.withvote")</small>
                    </div>

                    <div class="col-md-3">
                        <h1>
                            <!-- acesso somente habilitado para superusers -->
                            @if(SecureCFPController.hasAccessToAdmin(req)){
                                <a href="@routes.CFPAdmin.showProposalsWithNoVotes()">@totalNoVotes</a>
                            } else {
                                @totalNoVotes
                            }
                        </h1>
                        <small><i class="icon-eye-close"></i> @Messages("leaderboard.label.proposals.novote")</small>
                    </div>

                    <div class="col-md-3">
                        <h1>@totalReviews</h1>
                        <small><i class="icon-camera-retro"></i> @Messages("leaderboard.label.reviews")</small>
                    </div>

                    @mostVoted.map { mv =>
                        <div class="col-md-3">
                            <h3>
                                <!-- acesso somente habilitado para superusers -->
                                @if(SecureCFPController.hasAccessToAdmin(req)){
                                    <a href="@routes.CFPAdmin.showVotesForProposal(mv._1)">@mv._1</a>
                                } else {
                                    @mv._1
                                }
                            </h3>
                            <small><i class="icon-heart"></i> most voted with @mv._2 reviews</small>
                        </div>
                    }
                    <div class="clearfix"></div>

                    @if(totalByState.nonEmpty){
                    <div class="col-md-6">
                        <h3>@Messages("leaderboard.section.proposals.bystate")</h3>
                        @defining(totalByState.map(_._2).max){maxValue=>
                        @totalByState.map(pair => (Messages(pair._1),pair._2)).sortBy(_._1).map{case(state,total)=>
                        <span class="label label-info">@total</span> @state
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                <span class="sr-only">@state</span>
                            </div>
                        </div>
                        }
                        }
                    </div>
                    }

                    <div class="clearfix"></div>


                    <div class="col-md-4">
                        <h3>@Messages("leaderboard.section.submitted.bytrack")</h3>
                        @if(totalSubmittedByTrack.nonEmpty){
                            @defining(totalSubmittedByTrack.map(_._2).max){maxValue=>
                            @totalSubmittedByTrack.map(pair => (Messages(pair._1+".leaderboard"),pair._2)).toSeq.sortBy(_._1).map{case(track,total)=>
                                <span class="label label-info">@total</span> @track
                                    <!-- acesso somente habilitado para superusers -->
                                    @if(SecureCFPController.hasAccessToAdmin(req)){
                                        <a href="@routes.CFPAdmin.allProposalsByTrack(Option(track))"><i class="icon-arrow-right"></i></a>
                                    }
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                        <span class="sr-only">@track</span>
                                    </div>
                                </div>
                            }
                            }
                        }
                    </div>

                    <div class="col-md-4">
                        <h3>@Messages("leaderboard.section.approved.bytrack")</h3>
                        @if(allApprovedByTrack.nonEmpty) {
                            @defining(allApprovedByTrack.map(_._2).max){maxValue=>
                                @allApprovedByTrack.map(pair => (Messages(pair._1),pair._2)).toSeq.sortBy(_._1).map{case(track,total)=>
                                    <span class="label label-info">@total</span>@track
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                            <span class="sr-only">@track</span>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>

                     <div class="col-md-4">
                        <h3>@Messages("leaderboard.section.accepted.bytrack")</h3>
                         @if(totalAcceptedByTrack.nonEmpty){
                            @defining(totalAcceptedByTrack.map(_._2).max){maxValue=>
                                @totalAcceptedByTrack.map(pair => (Messages(pair._1),pair._2)).toSeq.sortBy(_._1).map{case(track,total)=>
                                    <span class="label label-info">@total</span> @track
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                            <span class="sr-only">@track</span>
                                        </div>
                                    </div>
                                }
                            }
                         }
                     </div>

<!-- @**
                  <div class="col-md-4">
                      <h3>@Messages("leaderboard.section.top.reviewer")</h3>
                      @bestReviewer.filter(_._2.toInt>0).map { br =>
                          @tags.renderGravatar(br._1)
                          <small>@br._2 talks reviewed.</small>
                      }
                  </div>
                  <div class="col-md-4">
                      <h3>@Messages("leaderboard.section.lazy")</h3>
                      @lazyOnes.map { wr =>
                          @tags.renderGravatar(wr._1)
                          <small>@wr._2 talk@if(wr._2.toInt > 1) {s} reviewed.</small>
                      }
                  </div>
                  <div class="col-md-4">
                      <h3>@Messages("leaderboard.section.more.stats")</h3>
                      <small><a href="@routes.CFPAdmin.allReviewersAndStats()" class="btn btn-sm btn-primary">@Messages("leaderboard.btn.see.reviewers")</a></small>
                  </div>

                  <div class="clearfix"></div>
**@ -->
                </div>
            </div>
        </div>
    </div>
}