@(totalSpeakers: Long, totalProposals: Long, totalReviews: Long, totalVotes: Long, totalNoVotes: Long, mostVoted: Option[(String, String)]
    , totalSubmittedByTrack: Map[String, Int], totalAcceptedByTrack: Map[String, Int], totalApprovedSpeakers:Long, totalRefusedSpeakers:Long
    , allApprovedByTrack:Map[String,Int], totalByState:List[(String,Int)]
    , allProposalStatesByTrack:Map[String,LeaderboardProposalStates])(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main(Messages("leaderboard.tab")) {
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><i class="icon-trophy"></i> @Messages("leaderboard.title")</h4>
                    <small><a href="@routes.CFPAdmin.doComputeLeaderBoard()" class="btn btn-sm btn-primary"><i class="icon-compass"></i> @Messages("leaderboard.label.refresh")</a></small>
                </div>

                <div class="panel-body">
                    <div class="col-md-3">
                        <h1>@totalSpeakers</h1>
                        <small><i class="icon-user"></i> @Messages("leaderboard.label.speakers")</small>
                    </div>

                      <div class="col-md-3">
                        <h1>@totalApprovedSpeakers</h1>
                        <small><i class="icon-user"></i> @Messages("leaderboard.label.approved.speakers")</small><br>
                    </div>

                    <div class="col-md-6">
                        <h1>@totalRefusedSpeakers</h1>
                        <small><i class="icon-user"></i> @Messages("leaderboard.label.refused.speakers")</small><br>
                    </div>

                    <div class="col-md-3">
                        <h1>@totalProposals</h1>
                        <small><i class="icon-book"></i> @Messages("leaderboard.label.proposals")</small>
                    </div>

                    <div class="col-md-3">
                        <h1>@totalVotes</h1>
                        <small><i class="icon-eye-open"></i> @Messages("leaderboard.label.proposals.withvote")</small>
                    </div>

                    <div class="col-md-3">
                        <h1>
                            <!-- acesso somente habilitado para superusers -->
                            @if(SecureCFPController.hasAccessToAdmin(req)){
                                <a href="@routes.CFPAdmin.showProposalsWithNoVotes()">@totalNoVotes</a>
                            } else {
                                @totalNoVotes
                            }
                        </h1>
                        <small><i class="icon-eye-close"></i> @Messages("leaderboard.label.proposals.novote")</small>
                    </div>

                    <div class="col-md-3">
                        <h1>@totalReviews</h1>
                        <small><i class="icon-camera-retro"></i> @Messages("leaderboard.label.reviews")</small>
                    </div>

                    @mostVoted.map { mv =>
                        <div class="col-md-3">
                            <h3>
                                <!-- acesso somente habilitado para superusers -->
                                @if(SecureCFPController.hasAccessToAdmin(req)){
                                    <a href="@routes.CFPAdmin.showVotesForProposal(mv._1)">@mv._1</a>
                                } else {
                                    @mv._1
                                }
                            </h3>
                            <small><i class="icon-heart"></i> most voted with @mv._2 reviews</small>
                        </div>
                    }
                    <div class="clearfix"></div>

                    @if(totalByState.nonEmpty){
                    <div class="col-md-6">
                        <h3>@Messages("leaderboard.section.proposals.bystate")</h3>
                        @defining(totalByState.map(_._2).max){maxValue=>
                        @totalByState.map(pair => (Messages(pair._1),pair._2)).sortBy(_._1).map{case(state,total)=>
                        <span class="label label-info">@total</span> @state
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="@((total*100)/maxValue)" aria-valuemin="0" aria-valuemax="100" style="width:@((total*100)/maxValue)%;">
                                <span class="sr-only">@state</span>
                            </div>
                        </div>
                        }
                        }
                    </div>
                    }

                    <div class="clearfix"></div>

                    <div class="col-md-12">
                        <h3>@Messages("leaderboard.section.proposals.bytrack")</h3>
                        <table class="table table-bordered table-striped table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>@Messages("leaderboard.columns.track")</th>
                                    <th>@Messages("submitted")</th>
                                    <th>@Messages("approved")</th>
                                    <th>@Messages("accepted")</th>
                                    <th>@Messages("declined")</th>
                                    <th>@Messages("rejected")</th>
                                    <th>@Messages("backup")</th>
                                    <th>@Messages("leaderboard.columns.total")</th>
                                </tr>
                            </thead>
                            <tbody>
                            @allProposalStatesByTrack.map(pair => (Messages(pair._1+".label"),pair._2)).toSeq.sortBy(_._1).map { case (track,stats) =>
                                <tr>
                                    <td>@track</td>
                                    <td>@stats.submitted</td>
                                    <td>@stats.approved</td>
                                    <td>@stats.accepted</td>
                                    <td>@stats.declined</td>
                                    <td>@stats.rejected</td>
                                    <td>@stats.backup</td>
                                    <td>@stats.total</td>
                                 </tr>
                            }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
}