@()(implicit lang: Lang, flash: Flash, req: RequestHeader)

@main("Backoffice") {
    <div class="row">
        <div class="col-lg-offset-4 col-md-4">
            <h2><i class="icon-archive"></i> Attic</h2>
        </div>
        <div class="clearfix"></div>

        @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable col-md-12">
                <strong>Error :</strong>
                @flash.get("error").get
            </div>
        }
        @if(flash.get("success").isDefined) {
            <div class="alert alert-success alert-dismissable col-md-12">
            @flash.get("success").get
            </div>
        }

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>@Messages("attic.title")</h3>
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger alert-dismissable col-md-12">
                        @Html(Messages("attic.alert"))
                    </div>
                    <h4>@Messages("attic.talk.title")</h4>
                    <form action="@routes.Attic.prune()" method="POST">
                        <input type="hidden" name="opType" value="deleted"/>
                        <button type="submit" class="btn btn-primary" style="margin:0.25rem">@Messages("attic.bt.prune.deleted")</button>
                    </form>
                    <form action="@routes.Attic.prune()" method="POST">
                        <input type="hidden" name="opType" value="draft"/>
                        <button type="submit" class="btn btn-primary" style="margin:0.25rem">@Messages("attic.bt.prune.draft")</button>
                    </form>

                    <form action="@routes.Attic.doArchive()" method="POST">
                        <button type="submit" class="btn btn-primary" style="margin:0.25rem">@Messages("attic.bt.archive.talk")</button>
                    </form>

                    <h4>@Messages("attic.other.title")</h4>
                    <form action="@routes.Attic.deleteInvitedSpeakers()" method="POST">
                        <button type="submit" class="btn btn-warning" style="margin:0.25rem">@Messages("attic.bt.delete.invited")</button>
                    </form>
                    <form action="@routes.Attic.resetEvents()" method="POST">
                        <button type="submit" class="btn btn-warning" style="margin:0.25rem">@Messages("attic.bt.delete.events")</button> <em>@Messages("attic.bt.delete.events.explanation")</em>
                    </form>
                    <form action="@routes.Attic.resetNotified()" method="POST">
                        <button type="submit" class="btn btn-warning" style="margin:0.25rem">@Messages("attic.bt.reset.notifications")</button>
                    </form>
                    <form action="@routes.Attic.resetTrackLeaders()" method="POST">
                        <button type="submit" class="btn btn-warning" style="margin:0.25rem">@Messages("attic.bt.reset.trackleaders")</button>
                    </form>
                    <form action="@routes.Attic.resetSchedules()" method="POST">
                        <button type="submit" class="btn btn-warning" style="margin:0.25rem">@Messages("attic.bt.reset.schedules")</button>
                    </form>
                    <form action="@routes.Attic.resetBackupConfirmations()" method="POST">
                        <button type="submit" class="btn btn-warning" style="margin:0.25rem">@Messages("attic.bt.reset.backup.confirmations")</button>
                    </form>
                    <form action="@routes.Attic.resetTrackAreas()" method="POST">
                        <button type="submit" class="btn btn-warning" style="margin:0.25rem">@Messages("attic.bt.reset.areas")</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
}