@(resetUrl:String)

<h3>Você esqueceu seu access code do @Messages("longName")?</h3>
<p>Alguém pediu para regerar seu access code do @Messages("longName"). Se foi você, por favor leia as instruções abaixo. Se não foi, você pode desconsiderar este email e nada de ruim ocorrerá.</p>
<p>Por favor, acesse este link para regerar seu access code.</p>
<p><a href="@Html(resetUrl)">@Html(resetUrl)</a></p>
<p>Não queremos guardar sua senha super secreta, que pode ser a mesma da sua conta no Google.
  Preferimos gerar um access code randômico para você.</p>
<p>Equipe @Messages("longName")</p>

<hr>
<h3>Did you forget your CFP @Messages("longName") access code?</h3>
<p>Someone asked to reset your @Messages("longName") access code. If it was you, please read the instructions below. If it wasn't, you can disregard this emails and no evil will be done.</p>
<p>Please visit this link to reset your access code.</p>
<p><a href="@Html(resetUrl)">@Html(resetUrl)</a></p>
<p>We don't want to store your super secret password, that might be the same one as your Google Account. We prefer to generate
a random access code. We also encourage you to use one of our OpenID's providers like Github or Google+. Simpler, more secure, that just rocks!</p>
<p>The @Messages("longName") team</p>
