@(validationLink:String, conferenceName:String)

<h2>Bem-vindo(a) ao @conferenceName!</h2>
<p>Obrigado por se registrar no Web site do @conferenceName. Para validar seu endereço de email, por favor clique ou copie o link a seguir para o a barra de endereço do seu navegador:</p>
<p><a href="@validationLink">@validationLink</a></p>
<br/>
<p>Equipe @conferenceName</p>
<br/>
<hr>

<h2>Welcome to @conferenceName!</h2>
<p>Thanks for joining @conferenceName CFP Web site. To validate your email address, please click or copy the following link to your browser address bar:</p>
<p><a href="@validationLink">@validationLink</a></p>
<br/>
<p>The @conferenceName Team</p>
<br/>
<hr>