@(firstName:String, email:String, tempPassword:String)

<h2>Caro(a) @firstName</h2>

<p>Bem-vindo(a) ao @ConferenceDescriptor.current().naming.shortTitle CFP CFP (Call4Papers)</p>

<p>Para sua comodidade, criamos uma conta para você no @ConferenceDescriptor.current().naming.shortTitle CFP. Esta conta permitirá que você acesse seu perfil e suas submissões.</p>
<p>Para acessar seu painel de palestrante no @ConferenceDescriptor.current().naming.shortTitle CFP, por favor clique no link abaixo.</p>

<p><a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.Application.index()">Access to @ConferenceDescriptor.current().naming.shortTitle CFP CFP</a></p>

<ul>
    <li>- Seu username é <strong>@email</strong></li>
    <li>- Sua password é <strong>@tempPassword</strong></li>
</ul>

<p>&nbsp;</p>
<p>Um abraço,</p>
<p>Equipe @ConferenceDescriptor.current().naming.shortTitle CFP</p>
<br/>
<hr>
<br/>
<h2>Dear @firstName</h2>

<p>Welcome to @ConferenceDescriptor.current().naming.shortTitle CFP CFP (Call4Papers)</p>

<p>As a convenience to you, we have created an account for you on @ConferenceDescriptor.current().naming.shortTitle CFP. This account will enable to you access your profile and your submissions.</p>
<p>To access your @ConferenceDescriptor.current().naming.shortTitle CFP speaker dashboard, please click in the link below.</p>

<p><a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.Application.index()">Access to @ConferenceDescriptor.current().naming.shortTitle CFP CFP</a></p>

<ul>
    <li>- Your username is <strong>@email</strong></li>
    <li>- Your password is <strong>@tempPassword</strong></li>
</ul>

<br/>
<p>Best regards</p>
<p>The @ConferenceDescriptor.current().naming.shortTitle CFP team</p>
<br/>

