@(fromName:String, proposal:models.Proposal, msg:String)

<p>Olá,</p> 

<p>Você recebeu uma nova mensagem de @fromName a respeito da palestra "@proposal.title".</p>
<br>
<p>Mensagem:</p>
<hr>
<p>
@msg
</p>

@fromName

<hr>
   
<h3>Como responder?</h3>

<p>Não responda este email, por favor use o web site do CFP.
Clique ou abra este link para responder diretamente para a mensagem :</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
<br>
<br>

<p>Obrigado,</p>
<p>Equipe @Messages("longName")</p>

<br/>
<hr>
<br/>

<p>Hi,</p> 

<p>You received a new message from <strong>@fromName</strong> regarding your talk "<strong>@proposal.title</strong>".</p>
<br>
<p>Message:</p>
<hr>
<p>
@msg
</p>
<p>@fromName</p>
<hr>
<h3>How to respond?</h3>
<p>Do not reply to this email, please use the CFP web site. 
  Click or open this link to respond directly to the message :</p>
<a href="@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)">@ConferenceDescriptor.current().conferenceUrls.cfpURL@routes.CallForPaper.showCommentForProposal(proposal.id)</a>
<br>
<br>

<p>Thanks</p>
<p>The @Messages("longName") team.</p>
