@(allConferences:List[TDCConference])(implicit lang: Lang, flash: Flash, req:RequestHeader)

@import helper.twitterBootstrap._
@import org.apache.commons.lang3.StringUtils

@main(Messages("backoffice.conferences.title")){
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3><i class="icon-bar-chart"></i> @Messages("backoffice.conferences.title")</h3>
                <a class="btn btn-sm btn-primary" href="@routes.ConferenceController.newOrEditConference(None)">@Messages("backoffice.conferences.btn.new")</a>
            </div>

            <div class="panel-body">
            @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable">
            <strong>Error :</strong>
            @flash.get("error").get
            </div>
            }
            @if(flash.get("success").isDefined) {
            <div class="alert alert-success alert-dismissable">
            @flash.get("success").get
            </div>
            }
            @if(!allConferences.isEmpty) {
              <table class="table table-striped table-bordered table-condensed">
                  <thead>
                      <tr>
                          <th>@Messages("backoffice.conferences.columns.name")</th>
                          <th>@Messages("backoffice.conferences.columns.actions")</th>
                      </tr>
                  </thead>
                  <tbody>
                          @allConferences.map{ conference =>
                          <tr>
                              <td><a href="@routes.ConferenceController.newOrEditConference(Option(conference.eventCode))">@conference.eventCode</a>
								  <!--a class="btn btn-sm btn-primary" href="@routes.ConferenceController.selectConference(conference.eventCode)">Selecionar</a-->
							  </td>  
                              @if(!conference.cfpOpen.getOrElse(false)) {
                                <td><a class="btn btn-sm btn-primary" href="@routes.ConferenceController.openCallForPapers(conference.eventCode,true)">@Messages("backoffice.conferences.btn.openCfp")</a></td>
                              } else {
                                <td><a class="btn btn-sm btn-danger" href="@routes.ConferenceController.openCallForPapers(conference.eventCode,false)">@Messages("backoffice.conferences.btn.closeCfp")</a></td>
                              }
                          </tr>
                          }
                  </tbody>
              </table>
            } else {
              <p>@Messages("backoffice.conferences.noconference")</p>
            }
            <a href="@routes.Backoffice.homeBackoffice()" class="btn btn-default">@Messages("backoffice.allCFPwebusers.btn.back")</a>

            </div>
        </div>
    </div>
</div>
}
