@(allProposals:Set[models.Proposal], trackId:String)(implicit lang: Lang, flash: Flash, req:RequestHeader)

@import ConferenceDescriptor.ConferenceTracks.{ALL => AllTracks}
@import helper.twitterBootstrap._

@main(Messages("backoffice.notification.approved.title")) {

<script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf-8" language="javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables_themeroller.css">

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1><i class="icon-bar-chart"></i> @{if(trackId=="") Messages("backoffice.notification.header.all") else Messages(AllTracks.find(_.id==trackId).map(_.label).getOrElse(""))}</h1>
            </div>

            <div class="panel-body">
                <div class="col-md-12">
                    @if(flash.get("error").isDefined) {
                    <div class="alert alert-danger alert-dismissable">
                        <strong>Error :</strong>
                        @flash.get("error").get
                    </div>
                    }
                    @if(flash.get("success").isDefined) {
                    <div class="alert alert-success alert-dismissable">
                        @flash.get("success").get
                    </div>
                    }
                </div>


                <div class="col-md-12">
                    @helper.form(action=routes.ApproveOrRefuse.notifyManyApprove(Option(trackId))) {
                        <button type="submit"
                                title='@Messages("backoffice.allproposals.approved.notify.tooltip")'
                                class="btn btn-sm btn-success">
                            <i class="icon-envelope"></i> @Messages("backoffice.allproposals.approved.notify.all.link")</button>
                        <button type="button" id="checkAll" class="btn btn-sm btn-primary">
                            <i class="icon-check"></i> @Messages("backoffice.allproposals.select.all")</button>
                        <button type="button" id="uncheckAll" class="btn btn-sm btn-primary">
                            <i class="icon-check-empty"></i> @Messages("backoffice.allproposals.deselect.all")</button>

                        <h3>@allProposals.size @Messages("backoffice.allproposals.subtitle.proposal")s @Messages("backoffice.allproposals.subtitle.approved")</h3>
                        <span class="label label-primary">@allProposals.filter(_.lang=="pt").size PT</span>
                        <span class="label label-default">@allProposals.filter(_.lang=="en").size EN</span>

                        @allProposals.groupBy(_.track).map{case(track,listOfProps)=>
                            <a class = "btn btn-xs btn-info" href="@routes.ApproveOrRefuse.allApprovedByTrack(Option(track.id))">@listOfProps.size @Messages(track.label)</a>
                        }

                        <br/>

                        <table id="allProposals" class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>@Messages("backoffice.allproposals.columns.title")</th>
                                    <th>@Messages("backoffice.allproposals.columns.id")</th>
                                    <th>@Messages("backoffice.allproposals.columns.speaker")</th>
                                    <th>@Messages("backoffice.allproposals.columns.track")</th>
                                    <th>@Messages("backoffice.allproposals.columns.status")</th>
                                    <th>@Messages("backoffice.allproposals.columns.notify")</th>
                                </tr>
                            </thead>
                            <tbody>
                            @allProposals.filter(p => if(trackId=="") true else p.track.id == trackId).map { proposal =>
                                <tr class="tr_@proposal.state.code">
                                    <td style="background-color:white"><input name="notificationList[]" type="checkbox" value="@proposal.id" /></td>
                                    <td>
                                        <a href="@routes.CFPAdmin.openForReview(proposal.id)">@proposal.title</a>
                                    </td>
                                    <td>@proposal.id</td>
                                    <td>
                                        @tags.renderGravatar(proposal.mainSpeaker,showName = true, showPhoto = false)
                                        @proposal.secondarySpeaker.map { sp =>
                                        @tags.renderGravatar(sp,showName = true, showPhoto = false)
                                        }
                                        @proposal.otherSpeakers.map{ sp2=>
                                        @tags.renderGravatar(sp2,showName = true, showPhoto = false)
                                        }
                                    </td>
                                    <td>
                                        @Messages(proposal.track.label)
                                    </td>
                                    <td>
                                        @Messages(proposal.state.code)
                                    </td>
                                    <td>
                                        @if(proposal.state.code=="accepted"){
                                        <small>@Messages("backoffice.allproposals.speaker.accepted")</small>
                                        }else {
                                        @if(proposal.state.code=="approved"){
                                        <a href="@routes.ApproveOrRefuse.notifyApproveByTrack(Option(trackId), proposal.id)"
                                           title='@Messages("backoffice.allproposals.approved.notifyagain.tooltip")'
                                           class="label label-success">
                                            <i class="icon-envelope"></i>
                                            @Messages("backoffice.allproposals.approved.notifyagain")
                                        </a>
                                        } else{
                                        <a href="@routes.ApproveOrRefuse.notifyApproveByTrack(Option(trackId), proposal.id)"
                                           title='@Messages("backoffice.allproposals.approved.notify.tooltip")'
                                           class="label label-success">
                                            <i class="icon-envelope"></i>
                                            @Messages("backoffice.allproposals.approved.notify")
                                        </a>
                                        }
                                        }
                                        </a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#allProposals').dataTable({
            "aaSorting": [[1,"desc"]],
            "iDisplayLength": 50,
            "aLengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
            "aoColumns": [
                { "bSortable":false},
                { "sType": "string"},
                { "sType": "string"},
                { "sType": "string"},
                { "sType": "string"},
                { "sType": "string"},
                { "sType": "string"}
                ]
        });
        $('#checkAll').click(() => $("input").filter(":checkbox").prop("checked",true));
        $('#uncheckAll').click(() => $("input").filter(":checkbox").prop("checked",false));
    } );
</script>
}