@(formWebuser: Form[Speaker])(implicit flash: Flash, lang: Lang, req: RequestHeader)

@import helper.twitterBootstrap._
@import org.apache.commons.codec.digest.DigestUtils

@main("New profile") {
<div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h3>@Messages("confirm.import.title")</h3>
            </div>
        </div>
@helper.form(action = routes.Authentication.validateImportedSpeaker) {
    <div class="col-md-12">

        @if(flash.get("error").isDefined) {
            <div class="alert alert-danger alert-dismissable">
                <strong>Error :</strong>
                @flash.get("error").get
            </div>
        }
        @if(flash.get("success").isDefined) {
            <div class="alert alert-success alert-dismissable">
            @flash.get("success").get
            </div>
        }
            @helper.inputText(formWebuser("email") , 'size->50, 'length->50)
            @helper.inputText(formWebuser("firstName"))
            @helper.inputText(formWebuser("lastName"))
			      @helper.inputText(formWebuser("tagName"),'size->50)
			      @helper.inputText(formWebuser("phone"))
            @helper.textarea(formWebuser("bio"), 'cols -> 80, 'rows -> 5)
            <i class="icon-text-width"></i> : <span id="charsremain"></span>
			@helper.textarea(formWebuser("qualifications"), 'cols -> 80, 'rows -> 3, 'placeholder -> "No experience")
			@helper.inputText(formWebuser("company"))
            @helper.inputText(formWebuser("socialMedia.twitter"), 'placeholder -> "@nickname")
            @helper.inputText(formWebuser("socialMedia.linkedIn"), 'size -> 60)
            @helper.inputText(formWebuser("socialMedia.github"), 'size -> 60)
            @helper.inputText(formWebuser("socialMedia.facebook"), 'size -> 60)
            @helper.inputText(formWebuser("socialMedia.instagram"), 'size -> 60)			
            @helper.inputText(formWebuser("blog"), 'size -> 60, 'placeholder -> "http://www.yourblog.com/")

            @helper.select(field = formWebuser("lang"), options = Proposal.langs, 'class -> "form-control")

          <!--  @helper.select(field = formWebuser("location.country"), options = Speaker.countries, 'class -> "form-control")
            @helper.inputText(field = formWebuser("location.state"), 'class -> "form-control")
	        @helper.inputText(field = formWebuser("location.city"), 'class -> "form-control") -->

            @helper.select(field = formWebuser("gender"), options = Speaker.genders, 'class -> "form-control", '_default -> Messages("select.gender"))
            @helper.select(field = formWebuser("race"), options = Speaker.races, 'class -> "form-control", '_default -> Messages("select.race"))
            @helper.select(field = formWebuser("disability"), options = Speaker.disabilities, 'class -> "form-control", '_default -> Messages("select.disability"))
            @helper.select(field = formWebuser("tshirtSize"), options = Speaker.sizes, 'class -> "form-control", '_default -> Messages("select.tshirtSize"))
          <label>@Messages("avatarUrl.defined")</label>
          <input type="hidden" id="avatarUrl" name="avatarUrl" value="@formWebuser("avatarUrl").value" />
          <p><img id="avatar" src="@formWebuser("avatarUrl").value" width="75" height="75"/></p>
                <div class="btn-block">
                  <button type="submit" class="btn btn-success">@Messages("confirm.import.save")</button>
                </div>
            }
    </div>
</div>

<script type="text/javascript" src="/assets/js/maxlength.js"></script>
<script type="text/javascript">
$(document).ready(function($){
    setformfieldsize($('#bio'), 750, 'charsremain');
});
</script>
}
