@(formWebuser: Form[Webuser])(implicit flash:Flash, lang:Lang, req: RequestHeader)

@import helper.twitterBootstrap._

@mainVisitor(ConferenceDescriptor.current().naming.title+ " - " + Messages("signup.title")) {

<div class="row">
    <div class="col-md-12 page-header">
        <h1><i class="icon-signin"></i> @Messages("visitor.registration.title")</h1>
    </div>
    <div class="col-md-8">

        <p>@Messages("visitor.signup.txt1", ConferenceDescriptor.current().naming.title)</p>

        @if(flash.get("error").isDefined){
            <div class="alert alert-danger">
                <strong>Error</strong>
                @flash.get("error").get
            </div>
        }

        @helper.form(action = routes.Authentication.saveNewVisitor) {
            @helper.inputText(formWebuser("email"))
            @helper.inputText(formWebuser("firstName"))
            @helper.inputText(formWebuser("lastName"))

            <p>@Messages("visitor.signup.txt2")</p>
            <button class="btn btn-success" type="submit">@Messages("signup")</button>
        }
    </div>
</div>
}
