@(objRef:String)

@objRef match {
    case obj if models.Proposal.ProposalIDRegExp findFirstIn(obj) isDefined => {
    <a href="@routes.CFPAdmin.openForReview(objRef)" class="btn btn-sm btn-primary"><i class="icon-signin"></i> @objRef</a>
    }
    case obj if models.RequestToTalk.IDRegExp findFirstIn(obj) isDefined  => {
    <a href="@routes.Wishlist.edit(objRef)" class="btn btn-sm btn-primary"><i class="icon-sort-by-attributes-alt"></i> @objRef</a>
    }
    case obj if org.apache.commons.lang3.StringUtils.trimToEmpty(obj).length==40  => {
    <a href="@routes.CFPAdmin.showSpeakerAndTalks(objRef)" class="btn btn-sm btn-primary"><i class="icon-user"></i></a>
    }
    case obj => {
        @obj
    }
}


