
<div class="col-lg-12">
    <h3>Grades salvas</h3>
</div>

<div class="col-lg-12">
<flash-messages>
</flash-messages>
    <ul ng-repeat="track in allScheduledTracks">
        <li>
            <strong>Trilha {{track.label}}</strong>
            <a class="btn btn-xs btn-primary" href="#/slots/{{track.id}}"><i class="icon-edit-sign"></i> Editar</a>
            <button class="btn btn-xs btn-danger" ng-click="deleteSchedule(track)"><i class="icon-trash"></i> Excluir</button><br>
        </li>
    </ul>
</div>

