<div class="col-lg-12">
    <button class="btn btn-success" ng-click="saveAllocation()">Salvar alocação</button>
    <flash-messages>
    </flash-messages>

    <h5>Arraste as palestras para o slot desejado na grade de programação</h5>
    <p>Nota : Utilize a tela maximizada para uma melhor experiência</p>
</div>
<div class="col-lg-6">
    <h3>Palestras</h3>
</div>
<div class="col-lg-6">
    <h3>Programação</h3>
</div>

<div class="col-lg-6 panel_talks">
    <small>Não alocadas: {{approvedTalks.length}}</small>
    <div ng-repeat="talk in approvedTalks"
         class="talk sponsor-{{talk.sponsorTalk}}"
         drag="talk" dragStyle="columnDrag"
         dropStyle="columnDrop">
        <span class="proposalTitle">{{talk.title}}</span>
        <span class="label label-default">{{talk.talkType.label}}</span>
        <div class="label label-info">{{talk.lang}}</div>
        <div class="label label-warning">{{talk.track.id}}</div>

        <div class="label label-success">{{talk.mainSpeaker}}</div>
        <div class="label label-success btn-sm">{{talk.secondarySpeaker}}</div>
        <div ng-repeat="otherSpeaker in talk.otherSpeakers" class="label label-success btn-sm">
            {{otherSpeaker}}
        </div>
    </div>
</div>

<div class="col-lg-6 panel_slots">
    <div ng-repeat="slot in slots" class="slot" drop="slot" dropStyle="columnDrop">
        <span class="label label-default">Slot {{slot.id }}</span>
        <div ng-repeat="proposal in slot.proposals">
            <hr class="tdc">
            <span class="label label-default">{{$index + 1}}</span>
            <button class="btn btn-xs btn-danger" ng-click="deallocate(slot.id,$index)"><i class="icon-remove"></i> remove
            </button>
            <span class="proposalTitle">{{proposal.title}}</span>
            <div class="label label-default">{{proposal.talkType.label}}</div>
            <div class="label label-success">{{proposal.mainSpeaker}}</div>
            <div class="label label-success btn-sm">{{proposal.secondarySpeaker}}</div>
            <div ng-repeat="otherSpeaker in proposal.otherSpeakers" class="label label-success btn-sm">
                {{otherSpeaker}}
            </div>
            <div ng-show="proposal.title.substring(0,4)=='[Not'">
                <div class="alert alert-danger alert-block"><i class="icon-warning-sign"></i> This talk was not
                    approved
                </div>
            </div>
        </div>
    </div>

</div>

