@(speakerForm: Form[Speaker], readOnlyUUID:String)(implicit flash: Flash, lang: Lang, req:RequestHeader)

@import helper.twitterBootstrap._

@main(Messages("editProfile.tab")) {

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@Messages("editProfile.title")</h2>
            </div>
        </div>
    </div>
    <div class="col-md-7">

        @if(flash.get("error").isDefined){
          <div class="alert alert-danger alert-dismissable">
              <strong>Error :</strong>
              @flash.get("error").get
          </div>
        }
        @if(flash.get("success").isDefined){
          <div class="alert alert-success alert-dismissable">
              @flash.get("success").get
          </div>
        }

        @helper.form(action = routes.CallForPaper.saveProfile) {
            <input type="hidden" name="email" value="@speakerForm("email").value.get">
            @helper.inputText(speakerForm("firstName"), 'class->"form-control")
            @helper.inputText(speakerForm("lastName"), 'class->"form-control")
            @helper.inputText(speakerForm("tagName"), 'class->"form-control")
            @helper.inputText(speakerForm("phone"))
			<label>@Messages("avatarUrl.defined")</label>
			<input type="hidden" id="avatarUrl" name="avatarUrl" value="@speakerForm("avatarUrl").value" />
			<p><img id="avatar" src="@speakerForm("avatarUrl").value" width="75" height="75"/></p>	
			@tags.photoUploader(readOnlyUUID)
            @helper.textarea(speakerForm("bio"), 'cols -> 60, 'rows -> 5, 'class->"form-control")
            <i class="icon-text-width"></i> : <span id="charsremain"></span>
			@helper.textarea(speakerForm("qualifications"), 'cols -> 60, 'rows -> 5, 'class->"form-control")
            @helper.inputText(speakerForm("company"))						
            @helper.inputText(speakerForm("socialMedia.twitter"), 'size -> 60, 'class->"form-control", 'placeholder -> "https://twitter.com/")
            @helper.inputText(speakerForm("socialMedia.linkedIn"), 'size -> 60, 'class->"form-control", 'placeholder -> "https://www.linkedin.com/in/")
            @helper.inputText(speakerForm("socialMedia.github"), 'size -> 60, 'class->"form-control", 'placeholder -> "https://github.com/")
            @helper.inputText(speakerForm("socialMedia.facebook"), 'size -> 60, 'class->"form-control", 'placeholder -> "https://www.facebook.com/")
            @helper.inputText(speakerForm("socialMedia.instagram"), 'size -> 60, 'class->"form-control", 'placeholder -> "https://www.instagram.com/")
            @helper.inputText(speakerForm("blog"), 'size -> 60, 'class->"form-control")

            @helper.select(field = speakerForm("lang"), options = Proposal.langs, 'class -> "form-control")
            @helper.select(field = speakerForm("gender"), options = Speaker.genders, 'class -> "form-control", '_default -> Messages("select.gender"))
            @helper.select(field = speakerForm("race"), options = Speaker.races, 'class -> "form-control", '_default -> Messages("select.race"))
            @helper.select(field = speakerForm("disability"), options = Speaker.disabilities, 'class -> "form-control", '_default -> Messages("select.disability"))
            @helper.select(field = speakerForm("tshirtSize"), options = Speaker.sizes, 'class -> "form-control", '_default -> Messages("select.tshirtSize"))

            <button class="btn btn-success" type="submit">@Messages("editProfile.save")</button>
        }

        <hr>
        <small>Your UUID: @readOnlyUUID</small>
    </div>
    <div class="col-md-5">
        <h3>@Messages("helpAndTips")</h3>
        <p>@Messages("editProfile.help")</p>
		<p><label>@Messages("editProfile.help.picture.label") : </label><br/>
            @Messages("editProfile.help.picture")
			<ol>
				<li>@Messages("editProfile.help.picture.1")</li>
				<li>@Messages("editProfile.help.picture.2")</li>
				<li>@Messages("editProfile.help.picture.3")</li>
				<li>@Messages("editProfile.help.picture.4")</li>
				<li>@Messages("editProfile.help.picture.5")</li>
			</ol>
		</p>
        <p><label>@Messages("privacy") : </label><br/>
            @Messages("privacy.help")
            <a href="@Messages("privacy.link")" target="new">@Messages("privacy.link")</a>
        </p>
        <p><label>@Messages("conduct") : </label><br/>
            @Messages("conduct.help")
            <a href="@Messages("conduct.link")" target="new">@Messages("conduct.link")</a>
        </p>
    </div>
</div>

<script type="text/javascript" src="/assets/js/maxlength.js"></script>
<script type="text/javascript">
$(document).ready(function($){
    setformfieldsize($('#bio'), 750, 'charsremain');
});
</script>
}