@(speakerForm: Form[Speaker], readOnlyUUID:String)(implicit flash: Flash, lang: Lang, req:RequestHeader)

@import helper.twitterBootstrap._

@main(Messages("editProfile.tab")) {

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@Messages("editProfile.title")</h2>
            </div>
        </div>
    </div>
    <div class="col-md-7">

        @if(flash.get("error").isDefined){
          <div class="alert alert-danger alert-dismissable">
              <strong>Error :</strong>
              @flash.get("error").get
          </div>
        }
        @if(flash.get("success").isDefined){
          <div class="alert alert-success alert-dismissable">
              @flash.get("success").get
          </div>
        }

        @helper.form(action = routes.CallForPaper.saveProfile) {
            <input type="hidden" name="email" value="@speakerForm("email").value.get">
            @helper.inputText(speakerForm("firstName"), 'class->"form-control")
            @helper.inputText(speakerForm("lastName"), 'class->"form-control")
            @helper.inputText(speakerForm("avatarUrl"), 'class->"form-control")
            @helper.inputText(speakerForm("company"))
            @helper.textarea(speakerForm("bio"), 'cols -> 60, 'rows -> 5, 'class->"form-control")
            <i class="icon-text-width"></i> : <span id="charsremain"></span>
            @helper.inputText(speakerForm("twitter"), 'placeholder -> "@nickname")
            @helper.inputText(speakerForm("linkedIn"), 'size -> 60, 'class->"form-control")
            @helper.inputText(speakerForm("github"), 'size -> 60, 'class->"form-control")
            @helper.inputText(speakerForm("blog"), 'size -> 60, 'class->"form-control")

            <!-- @helper.inputText(speakerForm("lang"), 'size->20, 'placeholder -> "pt") -->
            @helper.select(field = speakerForm("lang"), options = Proposal.langs, 'class -> "form-control")

            @helper.textarea(speakerForm("qualifications"), 'cols -> 60, 'rows -> 5, 'class->"form-control")

            @helper.inputText(speakerForm("phone"))
            @helper.select(field = speakerForm("gender"), options = Speaker.genders, 'class -> "form-control")
            @helper.select(field = speakerForm("tshirtSize"), options = Speaker.sizes, 'class -> "form-control")

            <button class="btn btn-success" type="submit">@Messages("editProfile.save")</button>
        }

        <hr>
        <small>Your UUID: @readOnlyUUID</small>
    </div>
    <div class="col-md-5">
        <h3>@Messages("helpAndTips")</h3>
        <p>@Messages("editProfile.help")</p>
        <p><label>@Messages("conduct") : </label><br/>
            @Messages("conduct.help")
            <a href="@Messages("conduct.link")" target="new">@Messages("conduct.link")</a>
        </p>
    </div>
</div>

<script type="text/javascript" src="/assets/js/maxlength.js"></script>
<script type="text/javascript">
$(document).ready(function($){
    setformfieldsize($('#bio'), 750, 'charsremain');
});
</script>

}